html,
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  @extend %ubuntu-light;
  font-size: 17px;
  line-height: 26px;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
.page__section {
  box-sizing: border-box;
  background-image: url(../images/page-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  &-wrapper {
    padding: 75px 0 50px;
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      107.54deg,
      rgba(23, 26, 28, 0.72) 0%,
      #5e5e57 100%
    );
    opacity: 0.15;
  }
}
.title {
  @extend %sf-regular;
  font-size: 44px;
  line-height: 53px;
  padding-left: 25px;
  margin-bottom: 55px;
  padding-top: 30px;
}
.scroll__btn {
  display: block;
  text-align: center;
  padding: 20px 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
